/**
 * @name ReverseAllThings
 * @author .hanyuko. [@Aved#2031]
 * @version 1.0.0
 * @invite M4YsZQrFQU
 * @description FIX and REPAIR every discord changed appearances include bot's badge, etc.
 * @source https://github.com/DiscordStuff/ReverseAllThings
*/

/* Return BOT badge ( English ) */
span [class*=botText] { visibility: hidden; }

span [class*=botText]::after {
  content: 'BOT';
  visibility: visible;
  position: absolute;
  left: 0px;
}
